/* Stuff for the index/login page */
.login-form{
	display: block;
	background: #93E9BE;
	padding: 0px 20px 20px 20px;
	width: 20%;
	border: 5px solid #D1CECE;
}
.login-form input{
	display: block;
	margin-bottom: 5px;
}  

.error-msg{
	color: #F54040;
}

#submit-button {
	position: absolute;
	right:    5;
	bottom:   5;
}

.sec {
	position:relative;
	background: #93E9BE;
	max-width: 75%;
	padding: 10px 10px;
	display: block;
	min-height: 10px;
}

/* style elements for tab navigator */

.tab {
	background: gray;
	padding: 10px 10px;
	text-transform: capitalize;
}

.selected-tab {
	background: #93E9BE;
	padding: 10px 10px;
	border: 2px solid #93E9BE;
	text-transform: capitalize;
}

/* ids and classes for the image selection page */

.form-style{
	border: 2px solid #666;
   	display: inline-block;
    	padding: 6px 6px;
    	background: #ccc;
}

.file-form{
	display: block;
}
.file-form input{
	display: block;
	margin-bottom: 10px;
}

.tree-select{
	margin-bottom: 10px;
}

/* ids and classes for displaying images on image_page.cfm */

.img-box {
	display: grid;
}

#pic {
	
	border: 2px solid black;
	grid-column: 1;
	grid-row: 1;
	margin: auto;
	max-height: 500px;
	max-width: auto;
}

#pic-label {
	grid-column: 1;
	grid-row: 2;
	margin: auto;
}